APP_ENV=test
APP_NAME=@{SCOPE_NAME}/{APP_NAME}
APP_PORT=3000

DEBUG_MODE=true
APP_VERSION=0.0.1
APP_BUILD_NUMBER=202407121653
DEPLOYMENT_HOST=INTERNAL_SERVICES
BUILD_LOCAL_ONLY=no

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin@Secret1
DB_DATABASE=default

DB_READ_HOST=127.0.0.1
DB_READ_PORT=5433

MQ_HOST=localhost
MQ_PORT=5672
MQ_USER=rabbitmq
MQ_PASSWORD=rabbitmq

COMMON_MQ_HOST=localhost
COMMON_MQ_PORT=5672
COMMON_MQ_USER=rabbitmq
COMMON_MQ_PASSWORD=rabbitmq

LOG_EXCHANGE=logger-service

REGISTRY_HOST=retistry.localhost.com
REGISTRY_USER=admin
REGISTRY_PASSWORD=admin@Secret1
