APP_ENV=test
APP_NAME=@{SCOPE_NAME}/{APP_NAME}
APP_PORT=8888

DEBUG_MODE=true
APP_VERSION=1.0.0
APP_BUILD_NUMBER=YYYYMMDDHHMN
DEPLOYMENT_HOST=INTERNAL_SERVICES
BUILD_LOCAL_ONLY=no

ASSETS_URL=http://localhost:8888/assets
API_URL=http://localhost:3000
I18N_URL=http://localhost:8888/aseets/locales
I18N_VERSION=0.0.1
