@import 'tailwindcss';
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import './theme.css';

* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', 'Twemoji Country Flags', sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body { margin: 0; padding: 0; }

button {
  cursor: pointer;
}

/* make scrollbar smaller */
::-webkit-scrollbar {
  background-color: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Thumb color */
}

.modal-overlay {
  @apply flex z-[9999] items-center justify-center
  fixed inset-0 bg-gray-600/50 p-4;

  .modal-backdrop {
    @apply isolate min-w-96 rounded-xl bg-gray-900 shadow-lg ring-1 ring-gray-100/9
    max-w-[calc(100dvw-20px)];

    .modal-content {
      @apply max-h-[calc(100dvh-300px)];
    }
  }
}

@media (min-width: 768px) {
  .modal-overlay {
    @apply p-6;

    .modal-backdrop {
      @apply min-w-96 max-w-[calc(100dvw-20px)];
    }
  }
}
