@import 'tailwindcss';
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import './theme.css';
@import '../components/Modal/style.css';

* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', 'Twemoji Country Flags', sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body { margin: 0; padding: 0; }

button {
  cursor: pointer;
}

/* make scrollbar smaller */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Thumb color */
  border-radius: 999px;
}
